In [6]:
#Default values
words = ['applie', 'bat', 'bar', 'atom', 'book']

In [7]:
by_letter = {}

In [8]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [9]:
by_letter

{'a': ['applie', 'atom'], 'b': ['bat', 'bar', 'book']}

#The setdefault dict method is for precisely this purpose. The preceding for loop can be rewritten as:

In [10]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [11]:
by_letter

{'a': ['applie', 'atom', 'applie', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

#The built-in collections module has a useful class, defaultdict, which makes this even easier. To create one, you pass a type or function for generating the default value for each slot in the dict:

In [15]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [16]:
by_letter

defaultdict(list, {'a': ['applie', 'atom'], 'b': ['bat', 'bar', 'book']})

# VALID DICT KEY TYPES

#hashability. You can        check whether an object is hashable (can be used as a key in a dict)        with the hash        function:

In [19]:
hash('string')

6771083631599397296

In [22]:
hash((1, 2, (2, 3)))

1097636502276347782

In [24]:
d = {}

In [25]:
d[tuple([1, 2, 3])] = 5

In [26]:
d

{(1, 2, 3): 5}

In [28]:
#set
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [29]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [30]:
a = {1, 2, 3, 4, 5}

In [31]:
b = {3, 4, 5, 6, 7, 8}

In [32]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
a. intersection(b)

{3, 4, 5}

In [35]:
a & b

{3, 4, 5}

In [38]:
x = 9

In [39]:
a.add(x)

In [40]:
a

{1, 2, 3, 4, 5, 9}

In [41]:
a.remove(x)

In [42]:
a

{1, 2, 3, 4, 5}

In [43]:
c = a.copy()

In [44]:
c |= b

In [45]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [46]:
d = a.copy()

In [47]:
d &= b

In [48]:
d

{3, 4, 5}

In [52]:
#Like dicts, set elements generally must be immutable. To have list-like elements, you must convert it to a tuple:
my_data = [1, 2, 3, 4]

In [50]:
my_set = {tuple(my_data)}

In [51]:
my_set

{(1, 2, 3, 4)}

In [53]:
{1, 2, 3} == {3, 2, 1}

True

List, Set, and Dict Comprehensions

In [56]:
#The filter condition can be omitted, leaving only the expression. For example, given a list of strings, we could filter out strings with length 2 or less and also convert them to uppercase like this:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [55]:
[x.upper() for x in strings if len(x) >2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [57]:
unique_lengths = {len(x) for x in strings}

In [58]:
unique_lengths

{1, 2, 3, 4, 6}

In [59]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [60]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [61]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

Nested list comprehensions

In [62]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
           ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [65]:
names_of_interest = [] 
for names in all_data: 
    enough_es = [name for name in names if name.count('e') >= 2] 
    names_of_interest.extend(enough_es)

In [75]:
#You can actually wrap this whole operation up in a single nested list comprehension, which will look like:

result = [name for names in all_data for name in names 
    if name.count('e') >= 2]

In [76]:
result

['Steven']

In [79]:
some_tuples = [(1, 2, 3), {4, 5, 6}, (7, 8, 9)]

In [80]:
flattened = [x for tup in some_tuples for x in tup]

In [81]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [83]:
# This produces a list of lists, rather than a flattened list of all of the inner elements.
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Functions

#Functions are declared with the def keyword and returned from with the return keyword:

In [86]:
def my_function(x, y, z=1.5):
    if z >1:
        return z * (x + y)
    else:
        return z / (x + y)

In [88]:
#function can be called in any of these ways:

my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

45.0

Namespaces, Scope, and Local Functions

In [89]:
#Functions can access variables in two different scopes:      global and local

In [90]:
def func():
    a = []
    for i in range(5):
        a.append(i)

When func() is called, the empty list a is created, five elements are appended, and then a is destroyed when the function exits. Suppose instead we had declared a as follows:

In [91]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [93]:
a = None

In [97]:
a = None
def bind a_variable():
    global a
    a = []
bind_a_variable()

SyntaxError: invalid syntax (<ipython-input-97-80197d919421>, line 2)

In [95]:
print(a)

None

Returning Multiple Values

In [98]:
#the ability to return multiple values from a      function with simple syntax. Hereâ€™s an example:

In [99]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c
a, b, c = f()

In [100]:
return_value = f()

In [101]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [102]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
         'south   carolina##', 'West virginia?']

Anyone who has ever worked with user-submitted survey data has seen messy results like these. Lots of things need to happen to make this list of strings uniform and ready for analysis: stripping whitespace, removing punctuation symbols, and standardizing on proper capitalization. One way to do this is to use built-in string methods along with the re standard library module for regular expressions:

In [103]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [104]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

An alternative approach that you may find useful is to make a list of the operations you want to apply to a particular set of strings:

In [105]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [106]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [107]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [108]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [109]:
[x * 2 for x in ints] #shortcut to above

[8, 0, 2, 10, 12]

In [110]:
def add_numbers(x, y):
    return x + y

In [111]:
add_five = lambda y: add_numbers(5, y)
#second argument to add_numbers is said to be curried.

In [112]:
#The built-in functools      module can simplify this process using the partial      function:

from functools import partial
add_five = partial(add_numbers, 5)

In [113]:
add_numbers

Generators

In [115]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [116]:
some_dict

{'a': 1, 'b': 2, 'c': 3}

In [117]:
for key in some_dict:
    print(key)

a
b
c

In [118]:
dict_iterator = iter(some_dict)

In [119]:
dict_iterator

In [121]:
list(dict_iterator)

['a', 'b', 'c']

In [122]:
#A generator is a concise way to construct a new iterable object.
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1, n+1):
        yield i ** 2

In [123]:
gen = squares()

In [124]:
gen

In [125]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [126]:
#more concise way to make a generator is by using a generator expression

gen = (x ** 2 for x in range(100))

In [127]:
gen

In [128]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [129]:
sum(x ** 2 for x in range(100))

328350

In [131]:
dict((i, i ** 2)for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

ITERTOOLS MODULE

In [132]:
import itertools

In [133]:
first_letter = lambda x: x[0]

In [134]:
names = ['Alan', 'Adam', 'Wes', 'will', 'Albert', 'Steven']

In [136]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))  #names is a Generator

A ['Alan', 'Adam']
W ['Wes']
w ['will']
A ['Albert']
S ['Steven']